doctype html
html
    head 
        title Easy Meals

    body
        label(for="ingredient") Enter one ingredient
        input#ingredient(type="text")
        button#submit Submit

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script.
            $(document).ready(function() {
                $("#submit").click(function() {
                    let ingredient = $("#ingredient").val();
                        $.ajax({
                            url : '/api/queryByIngredient',
                            type : 'POST',
                            contentType : 'application/json',
                            data : JSON.stringify({
                                'ingredient' : ingredient
                            }),
                            success: function(res) {
                                for(let k in res.results){
                                    $("body").append(res.results[k].title);
                                }
                            }
                        })
                })
            })